body {
    width: 100wh;
    height: 90vh;
    color: #fff;
    padding-left: 10%;
    padding-top: 50px;
    background: #FF4500;
    background-size: 400% 400%;
}

h1,th, p, button {
    font-family: 'Open Sans';
}

table{
    width: 90%;
border-bottom: 1px solid #ddd;}


th, td {
  border-bottom: 1px solid #ddd;
}

button{
    background-color:   transparent;
    border: 2px solid white;
    color:white;
    width: 25%;
    border-radius: 12px;
    font-size: 24px;
    cursor: pointer;
}

button span {
  cursor: pointer;
  transition: 0.5s;
}

button span:after {
  content: '+';
  opacity: 0;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

.newInstance{
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

#play{
    width:50%;
    background-color: transparent;
}

.row{
    display: flex;
    margin-left: 100px;
    flex-direction: column;
    width:500px;    
}

.boldText{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 70%;
    margin: 0 2px
}

.opacity{
    opacity:0.5;
}

button:disabled{
    opacity:0.3;
    background-color: transparent;
    cursor: auto;
}

.container{
    font-size: 30px;
    display: flex;
    flex-direction: row;
}

.class{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.gameButton{
    color:black;
}

.flex{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.margin{
    margin-top: 30px;
}

.winner{
    background-color: green;
    border-radius: 50px;
    margin-top: 20px;
}

.perfilTweet{
    font-size: 30px;
    display: flex;
    flex-direction: row;
}